<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.dao.EmpMapper">
  <resultMap id="BaseResultMap" type="com.springcloud.entity.Emp">
    <id column="emp_id" jdbcType="INTEGER" property="empId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_sex" jdbcType="INTEGER" property="empSex" />
    <result column="emp_salary" jdbcType="DOUBLE" property="empSalary" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.springcloud.entity.Emp">
    insert into emp (emp_name, emp_sex, 
      emp_salary, dept_id)
    values (#{empName,jdbcType=VARCHAR}, #{empSex,jdbcType=INTEGER}, 
      #{empSalary,jdbcType=DOUBLE}, #{deptId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.springcloud.entity.Emp">
    update emp
    set emp_name = #{empName,jdbcType=VARCHAR},
      emp_sex = #{empSex,jdbcType=INTEGER},
      emp_salary = #{empSalary,jdbcType=DOUBLE},
      dept_id = #{deptId,jdbcType=INTEGER}
    where emp_id = #{empId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select emp_id, emp_name, emp_sex, emp_salary, dept_id
    from emp
    where emp_id = #{empId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select emp_id, emp_name, emp_sex, emp_salary, dept_id
    from emp
  </select>
  
  <!-- 查询满足条件的员工信息 -->
  <select id="selectLike" parameterType="com.springcloud.entity.Emp" resultMap="empResultMap">
  	select e.emp_id,e.emp_name,e.emp_sex,d.dept_name,e.emp_salary,e.dept_id
  	from emp e join dept d on e.dept_id = d.dept_id
  	
  	<trim prefix="where" prefixOverrides="and|or">
  		<if test="empName != '%%' and empName != '%null%'">
  			and e.emp_name like #{empName}
  		</if>
  		<if test="deptId != -1">
  			and d.dept_id = #{deptId}
  		</if>
  	</trim>
  	order by e.emp_id asc
  </select>
  
  <!-- 映射：将查询结果中的列表与实体类的成员变量进行绑定 -->
  <resultMap type="com.springcloud.entity.Emp" id="empResultMap">
  	<!-- 主键列 -->
  	<id column="emp_id" property="empId"/>
  	<!-- 非主键 -->
  	<result column="emp_name" property="empName"/>
  	<result column="emp_sex" property="empSex"/>
  	<result column="emp_salary" property="empSalary"/>
  	<!-- 外键列 -->
  	<association property="dept" javaType="com.springcloud.entity.Dept">
  		<id column="dept_id" property="deptId"/>
  		<result column="dept_name" property="deptName"/>
  	</association>
  </resultMap>
</mapper>